{% extends 'base.html' %}
{% block title %}{{ block.super }} | Sing-Up{% endblock title %}

{% block contents %}

{% load static %}
{% load django_bootstrap5 %}

<link rel="stylesheet" type='text/css' href="{% static 'user/create.css'%}">

<wrap>
    <div>
        <h1>Sign up</h1>
        <p>If you already have account, <a href="{% url 'user:login' %}">here</a> to login</p>
    </div>
    <form method="post" class="form">
        {% csrf_token %}

        {% bootstrap_form form %}

        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" name="agreement" class="form-check-input" id="id_agreement" required>
                <label class="form-check-label" for="id_agreement">
                    Agree with <a href="">term of use</a> and <a href="">pivacy policy</a>
                </label>
            </div>
        </div>

        {% bootstrap_button button_type="submit" content="Sign up" %}
    </form>
</wrap>

{% endblock %}
